@import "tailwindcss";
@font-face {
  font-family: 'MyFont';
  src: url('/assets/logo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ff0000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid #ff0000;
}

@keyframes spin3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


.animate-spin3d {
  animation: spin3d 20s linear infinite;
}

@keyframes move1 {
  0%, 100% { transform: translate(-30%, -30%); }
  50% { transform: translate(30%, 30%); }
}

@keyframes move2 {
  0%, 100% { transform: translate(30%, -20%); }
  50% { transform: translate(-30%, 20%); }
}

.animate-move1 {
  animation: move1 12s ease-in-out infinite alternate;
}

.animate-move2 {
  animation: move2 15s ease-in-out infinite alternate;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

.pause {
  animation-play-state: paused !important;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-move {
  animation: gradient-move 2s linear infinite;
}
